<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='webjars/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
<div th:replace="mixins/header"></div>
<div class="container">
    <h1>Register page</h1>
    <div th:if="${registerError}" class="alert alert-danger">
        <strong>Are You Forgetting Something</strong>
    </div>
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label>First Name</label>
            <input th:field="*{firstName}"/>
            <p th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>Last Name</label>
            <input th:field="*{lastName}"/>
            <p th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>Email</label>
            <input type="email" th:field="*{email}"/>
            <p th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>Password</label>
            <input type="password" th:field="*{password}"/>
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <!--<div>-->
            <!--<label th:text="#{label.user.confirmPass}">confirm</label>-->
            <!--<input type="password" th:field="*{matchingPassword}"/>-->
        <!--</div>-->
        <button type="submit" value="Submit">submit</button>
    </form>
</div>
<div th:replace="mixins/footer"></div>
<script type="text/javascript" src="webjars/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
